body {
    font-size: 125%;
    background-color: #730D15;
    color: #F2E4D8;
    font-family: 'Amiri', serif;
    font-family: 'Anek Telugu', sans-serif;
}
/* Center all content in the page */
header, main, footer {
    width: 40em;
    max-width: 98%;
    margin: 2em auto;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav#menu a {
    text-decoration: none;
    display: block;
    font-weight: normal;
    padding: 0.5em 1em;
    background-color: #999999;
    color: #101010;
    border: 1px solid #101010;
}
nav#menu a:hover {
    background-color: #f9f9f9;
}
a:link {
    color: #A65132;
}
a:visited {
    color: #D9435F;
}
a:hover {
    color:#864026;
}